<div class="row">
  <div class="col-md-offset-2 col-md-2   col-xs-12">
    <img class="author-url" src="{{author.portrait_url}}" alt="portrait_url"/>
  </div>
    <div class="col-md-4">
      <h3>{{author.first_name}} {{author.last_name}}</h3>
      <h5>{{author.biography}}</h5>
      <a class="btn btn-default" href="/{{author.id}}/confirmDeleteAuthor">Delete</a>
  </div>
</div>
